$purple_dark: 		rgba(49,21,43,1);
$purple_dark_icons: rgba(148,101,138,1);
$purple_regular: 	rgba(117,53,75,1);
$purple_light: 		rgba(159,80,107,1);
$purple_tint: 		rgba(234,225,229,1);
$pink: 				rgba(204,68,82,1);
$lila:				rgba(184,152,163,1);

$white: 			rgba(255,255,255,1);