#calendar-heading {
    @extend %clearfix;
    position: relative;
    margin-bottom: 30px;
    #view-selection {
        width: 20%;
        float: right;
        ul {
            background-color: $purple-regular;
            li {
                font-family: "Ubuntu";
                font-size: 24pt;
                color: $white;
                height: 60px;
                width:100%;
                text-align: center;
                line-height: 60px;
                &.active {
                    background-color: $purple-dark;
                }
              a{
                text-decoration:none;
                color:$white;
                display:block;
                height:100%;
                width:100%;
              }
            }
        }
    }
    #add-calendar-item {
        color: $purple-regular;
        font-size: 18pt;
        float: right;
        font-family: "Abel";
        margin-top:10px;
        margin-right:5px;
    }

}

.calendar-stepper{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;

    & > * {
      float:left;
   }
    h1 {
      width: 80%;
      text-align: center;
      display:inline-block;
      color: $purple-light;
      font-size: 14pt;
      height:40px;
      line-height:38px;
      text-transform: uppercase;
      font-family: "Ubuntu";
      margin: 0;
      padding: 0;
    }
    .stepper-left{
      display:block;
      width: 10%;
      height:30px;
      background:url('../images/arrow-left.png') no-repeat;
      background-size:cover;
    }
    .stepper-right{
      display:block;
      width: 10%;
      height:30px;
      background:url('../images/arrow-right.png') no-repeat;
      background-size:cover;
    }
}

#choose-week {
    width: 60%;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    h1 {
        color: $purple-light;
        font-size: 20pt;
        text-transform: uppercase;
        font-family: "Ubuntu";
        margin-left: 15px;
    }
}

#month-calendar {
    width: 100%;
    li {
        font-size: 19pt;
        color: $pink;
        font-family: "Ubuntu";
        text-align: center;
        width: 14.28%;
        display: inline-block;
        margin: 0;
        padding: 15px 0px;
        border: 0;
        &.today {
            color: $purple_dark;

            border-style: solid;
            border-color: $purple_dark;
            border-width: 2px 2px 2px 2px;

            border-radius: 50px;
        }
        &.not-in-month {
          color: $purple_light;
        }
    }
}

#week-calendar {
    width: 90%;
    float:right;
    thead {
        tr {
            th {
                width: 14.28%;
                color: $purple-dark;
                font-family: "Abel";
                font-size: 17pt;
                text-align: center;
                .month {
                    display: block;
                    width: 100%;
                    color: $purple-regular;
                    font-size: 13pt;
                    margin-bottom:10px;
                }
            }
        }
    }
    tbody {
           tr{
             width:90%;
             &:nth-child(2n+1) {
               border-top: 1px $purple-regular solid;
             }
             &:nth-child(2n+2) {
               border-top: 1px $lila solid;
             }

           }
        td {
            background-color: $white;
            width: 14.28%;
            height: 20px;
        }
    }
}
#day-calendar{
  width:90%;
  float:right;

  tbody {
    tr{
      &:nth-child(2n+1) {
        border-top: 1px $purple-regular solid;
      }
      &:nth-child(2n+2) {
        border-top: 1px $lila solid;
      }

    }
    td {
      background-color: $white;
      width: 14.28%;
      height: 20px;
    }
  }
}