#calendar-heading {
    @extend %clearfix;
    position: relative;
    margin-bottom: 30px;
    #view-selection {
        width: 20%;
        float: right;
        ul {
            background-color: $purple-regular;
            li {
                font-family: "Ubuntu";
                font-size: 24pt;
                color: $white;
                height: 70px;
                text-align: center;
                line-height: 70px;
                &.active {
                    background-color: $purple-dark;
                }
              a{
                text-decoration:none;
                color:$white;
                display:block;
                height:100%;
                width:100%;
              }
            }
        }
    }
    #add-calendar-item {
        color: $purple-regular;
        font-size: 18pt;
        float: right;
        width: 35%;
        font-family: "Abel";
        margin-top:10px;
    }

}

#choose-month {
    width: 60%;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    h1 {
        color: $purple-light;
        font-size: 18pt;
        text-transform: uppercase;
        font-family: "Ubuntu";
        margin-left: 15px;
    }
}

#choose-week {
    width: 60%;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    h1 {
        color: $purple-light;
        font-size: 20pt;
        text-transform: uppercase;
        font-family: "Ubuntu";
        margin-left: 15px;
    }
}

#month-calendar {
    width: 100%;
    thead {
        tr {
            th {
                color: $purple-dark;
                font-family: "Abel";
                font-size: 16pt;
                padding: 15px;
                text-transform: uppercase;
            }
        }
    }
    .week {
        td {
            font-size: 19pt;
            color: $pink;
            font-family: "Ubuntu";
            text-align: center;
            vertical-align: middle;
            height: 60px;
            width: 14.28%;
            &#today {
                display: block;
                position: relative;
                text-align: center !important;
                .circle {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 60px;
                    height: 60px;
                    border: 5px $purple_regular solid;
                    @include border-radius(100px);
                }
            }
        }
    }
}

#week-calendar {
    width: 90%;
    float:right;
    thead {
        tr {
            th {
                width: 14.28%;
                color: $purple-dark;
                font-family: "Abel";
                font-size: 17pt;
                text-align: center;
                .month {
                    display: block;
                    width: 100%;
                    color: $purple-regular;
                    font-size: 13pt;
                    margin-bottom:10px;
                }
            }
        }
    }
    tbody {
           tr{
             width:90%;
             &:nth-child(2n+1) {
               border-top: 1px $purple-regular solid;
             }
             &:nth-child(2n+2) {
               border-top: 1px $lila solid;
             }

           }
        td {
            background-color: $white;
            width: 14.28%;
            height: 20px;
        }
    }
}
#day-calendar{
  width:90%;
  float:right;

  tbody {
    tr{
      &:nth-child(2n+1) {
        border-top: 1px $purple-regular solid;
      }
      &:nth-child(2n+2) {
        border-top: 1px $lila solid;
      }

    }
    td {
      background-color: $white;
      width: 14.28%;
      height: 20px;
    }
  }
}