html, body {
    overflow-x: hidden;
}

.right{
	float:right;
}
.left{
	float:left;
}

%clearfix{
	&:after{
		content:"";
		display:table;
		clear:both;
	}
}

[data-icon]:before {
	font-family: 'Meteocons';
	content: attr(data-icon);
}
.container{
	padding:0;
    @extend %clearfix;
    height:100vh;
}
.picture-round-bordered{
  @include border-radius(100px);
  border: 5px $purple_dark solid;
}