#login {
    display: block;
    background: url("../images/background-login.png") no-repeat;
    width: 100%;
    background-size: cover;
    height: 200px;
    position: relative;
    #user-picture {
        @include border-radius(100px);
        width: 180px;
        height: 180px;
        border: 5px $purple_dark solid;
        position: absolute;
        bottom: -50px;
        left: 50%;
        margin-left: -90px;
    }
}

#informations {
    background-color: $purple_regular;
    width: 100%;
    height: 90px;
    padding: 10px;
    #informations-left {
        color: $white;
        font-size: 35px;
        width: 50%;
        span {
            display: table-cell;
            vertical-align: bottom;
            height: 70px;
            font-family: "Ubuntu";
        }
    }
    #informations-right {
        color: $white;
        font-family: "Ubuntu";
        width: 50%;
        position: relative;
        height: 70px;
        & > span {
            display: block;
            width: 100%;
            position: absolute;
            right: 0;
            text-align: right;
            &#date {
                bottom: 0;
                font-family: "Ubuntu";
            }
            &#weather {
                bottom: 20px;
                font-family: "Ubuntu";
                color: $purple_light;
                #weather-icon {
                    float: right;
                    color: $purple_light;
                    font-size: 2em;
                }
            }
        }
    }
}

#schedule-today-heading {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16pt;
    color: $purple_regular;
    text-transform: uppercase;
    font-family: "Abel";
}

#schedule-right {
    a {
        color: $purple_regular;
        font-size:18pt;
        margin-top:-7.5px;
    }
}

#schedule-today {
    display: table;
    width: 100%;
    td {
        color: $pink;
        font-size: 12pt;
        font-family: "Abel";
        text-align: left;
        padding: 15px;
    }
    tr:nth-child(2n+1) {
        background-color: $purple_tint;
    }
}