#login-screen {
    width: 100%;
    height: 100vh;
    background-color: $purple_regular;
    background-image: url("../images/clock.png");
    background-size: cover;
    padding-top: 190px;
    #login-title {
        color: $white;
        font-size: 100pt;
        font-family: forte;
        text-align: center;
        margin-bottom: 50px;
    }
}

#login-form {
    width: 100%;
    input {
        width: 80%;
        margin: 10px 9%;
        border: 0;
        height: 50px;
        background-color: $purple_light;
        color:$white;
        padding:0px 30px;
        font-family: "Ubuntu";
    }
    @include placeholder {
        font-family: "Ubuntu";
        color: $purple_regular;
        font-size:18pt;

    input[type=submit]{
        float:right;
        width:30%;
        height:50px;
    }
}
}