#view-selection{
		background-color:$purple-regular;
	ul{
		li{
			font-family:"Ubuntu";
			font-size:20pt;
			color:$white;
			width:20%;
			float:right;

		}
	}
}
#add-calender-item{
	color:$purple-regular;
	font-size:18pt;
	float:right;
	width:30%;
	margin-top:25px;
	font-family:"Abel";
}
#calender-item{
	color:$purple-regular;
	width:20%;
	float:right;
	font-size:18pt;
	margin-top:25px;
}