#main-navigation {
    position: relative;
    background-color: $purple_dark;
    padding: 5px 20px;
    color: $white;
    font-family: "Forte";
    font-size: 24pt;
    @extend %clearfix;
    #navigation-right {
        a {
            float: left;
            color: $purple_dark_icons;
            margin-right: 5px;
            margin-top: 7.5px !important;
            font-size: 18pt;
            line-height: 26pt;
            &:hover {
                color: $purple_light;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .brand {
        width: 50%;
        float: left;
    }
    #menu-icon {
        height: 15px;
        width: 10px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -7.5px;
        .bar {
            height: 3px;
            margin-bottom: 3px;
            background-color: $white;
            width: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

#login {
    display: block;
    background: url("../images/background-login.png") no-repeat;
    width: 100%;
    background-size: cover;
    height: 200px;
    position: relative;
    #user-picture {
        @include border-radius(100px);
        width: 180px;
        height:180px;
        border: 5px $purple_dark solid;
        position: absolute;
        bottom: -50px;
        left: 50%;
        margin-left: -90px;
    }
}

#weather {
    background-color: $purple_light;
    width: 100%;
    height: 90px;

    padding:10px;
    margin-bottom:1em;

    #time{
	color:$white;
	font-size:35px;
	height:70px;

	display: table-cell;
   	vertical-align: bottom;
}
}

.ng-scope {
    h3 {
        margin-left: 15px;
        color: $purple_regular;
        text-transform: uppercase;
    }
}

#schedule-today {
    display: table;
    width: 100%;
    td {
        color: $pink;
        font-size: 10pt;
        text-align:left;
        padding:15px;
    }
    tr:nth-child(2n+1)
    {
    	background-color:$purple_tint;
    }
}

