#main-navigation {
    position: relative;
    background-color: $purple_dark;
    padding: 5px 20px;
    color: $white;
    font-family: "Forte";
    font-size: 24pt;
    @extend %clearfix;
    #navigation-right {
        a {
            float: left;
            color: $purple_dark_icons;
            margin-right: 5px;
            margin-top: 7.5px !important;
            font-size: 18pt;
            line-height: 26pt;
            &:hover {
                color: $purple_light;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .brand {
        width: 50%;
        float: left;
    }
    #menu-icon {
        height: 15px;
        width: 10px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -7.5px;
        .bar {
            height: 3px;
            margin-bottom: 3px;
            background-color: $white;
            width: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
