#main-navigation {
    position: relative;
    background-color: $purple_dark;
    padding: 5px 20px;
    color: $white;
    font-family: "Forte";
    font-size: 24pt;
    @extend %clearfix;
    #navigation-right {
        a {
            float: left;
            color: $purple_dark_icons;
            margin-right: 5px;
            margin-top: 7.5px !important;
            font-size: 18pt;
            line-height: 26pt;
            &:hover {
                color: $purple_light;
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .brand {
        width: 50%;
        float: left;
    }
    #menu-icon {
        height: 15px;
        width: 10px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -7.5px;
        .bar {
            height: 3px;
            margin-bottom: 3px;
            background-color: $white;
            width: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.off-canvas__nav {
    -webkit-transform: translate3d(0, 0, 0) translateX(-250px);
    -ms-transform: translate3d(0, 0, 0) translateX(-250px);
    -moz-transform: translate3d(0, 0, 0) translateX(-250px);
    -o-transform: translate3d(0, 0, 0) translateX(-250px);
    transform: translate3d(0, 0, 0) translateX(-250px);
    -webkit-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
}

.off-canvas__content {
    -webkit-transform: translate3d(0, 0, 0) translateX(0);
    -ms-transform: translate3d(0, 0, 0) translateX(0);
    -moz-transform: translate3d(0, 0, 0) translateX(0);
    -o-transform: translate3d(0, 0, 0) translateX(0);
    transform: translate3d(0, 0, 0) translateX(0);
    -webkit-transition: all 1s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    -o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
    transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
}

.is-off-canvas-opened {
    .off-canvas__nav {
        -webkit-transform: translate3d(0, 0, 0) translateX(0);
        -ms-transform: translate3d(0, 0, 0) translateX(0);
        -moz-transform: translate3d(0, 0, 0) translateX(0);
        -o-transform: translate3d(0, 0, 0) translateX(0);
        transform: translate3d(0, 0, 0) translateX(0);
    }
    .off-canvas__content {
    -webkit-transform: translate3d(0, 0, 0) translate(250px);
    -ms-transform: translate3d(0, 0, 0) translate(250px);
    -moz-transform: translate3d(0, 0, 0) translate(250px);
    -o-transform: translate3d(0, 0, 0) translate(250px);
    transform: translate3d(0, 0, 0) translate(250px);
}
}
.off-canvas__container {
  position: relative;
}

.off-canvas__nav {
  padding: 70px 15px 15px 15px;
  background-color: $white;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  -webkit-user-drag: none;

  #user-name-wrapper{
      width:100%;
      text-align:center;

    #user-name {
      color: $purple_regular;
      width: auto;
      font-size: 16pt;
      font-family:"abel";
      display:inline-block;
      margin:auto;
      text-transform: uppercase;
      border-bottom:1px $purple_regular solid;
      margin-bottom:22px;
      padding-bottom:15px;
    }
  }

  #navigation{
    li {
        margin:20px 0;
      a{
        color:$purple_regular;
        font-family:"ubuntu";
        font-size:16pt;
        text-decoration:none;
        text-transform:uppercase;

        &.icon{
          &:before{
            font-family:"fontawesome";
            color:$pink;
            font-size:14pt;
            margin-right:10px;
          }
          &.icon-agenda:before{
            content: "\f073";
          }
          &.icon-home:before{
            content: "\f015";
          }
          &.icon-informatie:before{
            content: "\f059";
          }
          &.icon-berichten:before{
            content: "\f0e6";
          }
        }
      }
      ul{
        li a{
          color:$pink;
          font-size:12pt;
          text-transform:none;
          padding-left:30px;
        }
      }
    }
  }
}

