<nav class="off-canvas__nav ng-scope" ng-controller="navCtrl as ctrl">
    <div id="user-name-wrapper">
        <h1 id="user-name">{{ user.firstname }} {{ user.surname }}</h1>
    </div>
    <ul id="navigation">
        <li>
            <a href="#" class="icon icon-home" ng-click="ctrl.toggle()">Home</a>
        </li>
        <li>
            <a href="#month" class="icon icon-agenda" ng-click="ctrl.toggle()">Agenda</a>
            <ul>
                <li>
                <a href="#month" ng-click="ctrl.toggle()">Per maand</a>
                </li>
                <li>
                <a href="#week" ng-click="ctrl.toggle()">Per Week</a>
                </li>
                <li>
                <a href="#day" ng-click="ctrl.toggle()">Per dag</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="icon icon-berichten" ng-click="ctrl.toggle()">Berichten</a>
            <ul>
                <li>
                <a href="#messages" ng-click="ctrl.toggle()">Inbox</a>
                </li>
                <li>
                    <a href="" ng-click="ctrl.toggle()">Nieuw Bericht</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="icon icon-informatie" ng-click="ctrl.toggle()">Informatie</a>
            <ul>
                <li>
                    <a href="#schedule" ng-click="ctrl.toggle()">Lessenrooster</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
