<nav class="off-canvas__nav ng-scope">
    <div id="user-name-wrapper">
        <h1 id="user-name">Nance Vanobbergen</h1>
    </div>
    <ul id="navigation">
        <li>
            <a href="#" class="icon icon-home" ng-click="toggleNav()">Home</a>
        </li>
        <li>
            <a href="#month" class="icon icon-agenda" ng-click="toggleNav()">Agenda</a>
            <ul>
                <li>
                <a href="#month" ng-click="toggleNav()">Per maand</a>
                </li>
                <li>
                <a href="#week" ng-click="toggleNav()">Per Week</a>
                </li>
                <li>
                <a href="#day" ng-click="toggleNav()">Per dag</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="icon icon-berichten" ng-click="toggleNav()">Berichten</a>
            <ul>
                <li>
                <a href="" ng-click="toggleNav()">Conversaties</a>
                </li>
                <li>
                    <a href="" ng-click="toggleNav()">Nieuw Bericht</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="icon icon-informatie" ng-click="toggleNav()">Informatie</a>
            <ul>
                <li>
                    <a href="" ng-click="toggleNav()">Lessenrooster</a>
                </li>
                <li>
                    <a href="" ng-click="toggleNav()">Contact</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
