<nav class="off-canvas__nav ng-scope">
    <div id="user-name-wrapper">
        <h1 id="user-name">Nance Vanobbergen</h1>
    </div>
    <ul id="navigation">
        <li>
            <a href="#" class="icon icon-home" >Home</a>
        </li>
        <li>
            <a href="#month" class="icon icon-agenda">Agenda</a>
            <ul>
                <li>
                <a href="#month">Per maand</a>
                </li>
                <li>
                <a href="#week">Per Week</a>
                </li>
                <li>
                <a href="#day">Per dag</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="icon icon-berichten">Berichten</a>
            <ul>
                <li>
                <a href="">Conversaties</a>
                </li>
                <li>
                    <a href="">Nieuw Bericht</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" class="icon icon-informatie">Informatie</a>
            <ul>
                <li>
                    <a href="">Lessenrooster</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
