<h1 id="add-item">< Voeg een item toe</h1>
<form id="form-add-item">
    <input type="text" id="titel" ng-model="" placeholder="Titel">
    <input type="text" id="locatie" ng-model="" placeholder="Locatie">
    <a id="geolocation" href=""></a>
    <h2 id="add-date">Datum</h2>
    <select id="choose-date">
        <option value="">Woensdag 26 maart</option>
        <option value="">Woensdag 26 maart</option>
        <option value="">Woensdag 26 maart</option>
        <option value="">Woensdag 26 maart</option>
    </select>
    <div id="hour">
    <h3 id="add-hour-start">Van</h3>
    <select id="choose-hour-start">
        <option value="">14:00</option>
        <option value="">14:00</option>
        <option value="">14:00</option>
        <option value="">14:00</option>
     </select>
    <h3 id="add-hour-end">Tot</h3>
    <select id="choose-hour-end">
        <option value="">16:00</option>
        <option value="">16:00</option>
        <option value="">16:00</option>
        <option value="">16:00</option>
    </select>
    </div>
    <h2 id="add-type">Type</h2>
    <select id="choose-make-task">
        <option value="">Taak maken</option>
        <option value="">Taak maken</option>
        <option value="">Taak maken</option>
        <option value="">Taak maken</option>
    </select>
    <select id="choose-task">
        <option value="">Kies een taak</option>
        <option value="">Kies een taak</option>
        <option value="">Kies een taak</option>
        <option value="">Kies een taak</option>
    </select>
</form>