<div id="calendar-heading">
    <div id="view-selection">
        <ul>
            <li><a href="#month">M</a></li>
            <li class="active"><a href="#week">W</a></li>
            <li><a href="#day">D</a></li>
        </ul>
    </div>
    <a href="#add" id="calendar-item"><span id="add-calendar-item">Voeg toe
    <i class="fa fa-plus"></i></span>
    </a>
    <div class="calendar-stepper" ng-init="setDayString()">
        <a href="" class="stepper-left" ng-click="previousDay()"></a>
        <h1>{{ currentDay }}</h1>
        <a href="" class="stepper-right" ng-click="nextDay()"></a>
    </div>
</div>
<table id="day-calendar" ng-init="createSubjects()">
    <tbody>
        <tr ng-repeat-start="course in subjectsToday">
            <td class="a-bottom">{{ course.schedule.start|date:'HH:mm' }}</td>
            <td>Onderwerp</td>
            <td>{{ course.subject.message }}</td>
        </tr>
        <tr ng-repeat-end>
            <td class="a-top">{{ course.schedule.course|limitTo:3|uppercase }} </td>
            <td ng-hide="course.tasks.length == 0">Taken/Toetsen</td>
            <td ng-hide="course.tasks.length == 0">{{ subject.tasks }}</td>
        </tr>
    </tbody>
</table>
