<table id="schedule-today">
	<h3 id="schedule-today-heading">Vandaag</h3>
	<tr>
		<td>08:30</td>
		<td>Wiskunde</td>
		<td>B1</td>
	</tr>
	<tr>
		<td>09:20</td>
		<td>Aardrijkskunde</td>
		<td>A13</td>
	</tr>
	<tr>
		<td>10:20</td>
		<td>Biologie</td>
		<td>A12</td>
	</tr>
	<tr>
		<td>12:00</td>
		<td>Plastische opvoeding</td>
		<td>B5</td>
	</tr>
	<tr>
		<td>08:30</td>
		<td>Wiskunde</td>
		<td>B1</td>
	</tr>
	<tr>
		<td>09:20</td>
		<td>Aardrijkskunde</td>
		<td>A13</td>
	</tr>
	<tr>
		<td>10:20</td>
		<td>Biologie</td>
		<td>A12</td>
	</tr>
	<tr>
		<td>12:00</td>
		<td>Plastische opvoeding</td>
		<td>B5</td>
	</tr>
</table>
