<div id="calendar-heading">
    <div id="view-selection">
        <ul>
            <li><a href="#month">M</a></li>
            <li class="active"><a href="#week">W</a></li>
            <li><a href="#day">D</a></li>
        </ul>
    </div>
    <a href="#add" id="calendar-item"><span id="add-calendar-item">Voeg toe
    <i class="fa fa-plus"></i></span>
</a>
    <div class="calendar-stepper">
        <a href="" class="stepper-left" ng-click="previousMonth()"></a>
        <h1>{{ currentMonthFull }} {{ currentYear }}</h1>
        <a href="" class="stepper-right" ng-click="nextMonth()"></a>
    </div>
</div>
<ul id="month-calendar" ng-init="createCalendar()">
    <li ng-repeat="day in daysInMonth" class="{{ day.class }}">{{ day.date }}</li>
</ul>


