<div id="schedule-heading">
    <div id="view-selection">
        <div id="schedule-day">
            <a href="" id="left"></a>
            <h1>Woensdag</h1>
            <a href="" id="right"></a>
        </div>
    </div>
</div>
<table id="today">
    <tbody id="schedule-this-day">
    <tr>
        <td>08:30</td>
        <td>Wiskunde</td>
        <td>B1</td>
    </tr>
    <tr>
        <td>09:20</td>
        <td>Aardrijkskunde</td>
        <td>A13</td>
    </tr>
    <tr>
        <td>10:20</td>
        <td>Biologie</td>
        <td>A12</td>
    </tr>
    <tr>
        <td>12:00</td>
        <td>Plastische opvoeding</td>
        <td>B5</td>
    </tr>
    <tr>
        <td>08:30</td>
        <td>Wiskunde</td>
        <td>B1</td>
    </tr>
    <tr>
        <td>09:20</td>
        <td>Aardrijkskunde</td>
        <td>A13</td>
    </tr>
    <tr>
        <td>10:20</td>
        <td>Biologie</td>
        <td>A12</td>
    </tr>
    <tr>
        <td>12:00</td>
        <td>Plastische opvoeding</td>
        <td>B5</td>
    </tr>
</table>

