<div id="schedule-heading" ng-init="setCurrentDay()">
    <div id="view-selection">
        <div id="schedule-day">
            <a href="" id="left" ng-click="previousDay()"></a>
            <h1>{{ dayName }}</h1>
            <a href="" id="right" ng-click="nextDay()"></a>
        </div>
    </div>
</div>
<table id="today" ng-init="createSchedule()">
    <tbody id="schedule-this-day">
    <tr ng-repeat="course in courses">
        <td>{{ course.start }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.classroom }}</td>
    </tr>
</table>

